<phpunit bootstrap="vendor/autoload.php">
    <testsuites>
        <testsuite name="jenkins">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix="Test.php">./tests</directory>
        </whitelist>
    </filter>
</phpunit>
